ion-content.background {
  --background: url(../assets/img/nightcityjp.jpeg) 0 0/100% 100% no-repeat;
}

ion-card {
  --background: #021b46;
  --color: #fff;
  border-radius: 15px;
}

.ion-color-newcolor {
  --ion-color-base: #021b46;
  --ion-color-contrast: #224068;
  border-radius: 20px;
}

ion-list {
  //--ion-item-background: 224068;
  --ion-background-color: #021b46;
  border-radius: 15px;
}
