<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Home
        </ion-title>
    </ion-toolbar>
</ion-header>



<ion-content padding class="background">
    <ion-text color="danger" style="text-align: center">
        <h1 style="font-size: 100px">Believe</h1>
        <h1 style="font-size: 80px">And</h1>
        <h1 style="font-size: 100px">Achieve</h1>

    </ion-text>
</ion-content>
